<md-toolbar>
    <div class="md-toolbar-tools">
        <h3 md-truncate="" flex="">Timeline</h3>
        <md-button class="md-icon-button" ng-show="wasDataFiltered" ng-click="clearFilters()">
            <md-icon md-svg-icon="/app/assets/svg/clear-filter.svg"></md-icon>
        </md-button>

        <md-button class="md-icon-button" ng-click="toggleSidebar()">
            <md-icon md-svg-icon="/app/assets/svg/filter.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<section>
    <md-sidenav class="md-sidenav-right sidenav" md-component-id="right" md-whiteframe="4">
        <md-toolbar>
            <h3 class="md-toolbar-tools">Filtros</h3>
        </md-toolbar>
        <md-content layout-padding="" layout-margin>
            <md-input-container>
                <label for="input_category">Categoria</label>
                <input type="text" id="input_category" ng-model="filters.category">
            </md-input-container>
        
            <md-input-container>
                <label for="input_type">Tipo</label>
                <input type="text" id="input_type" ng-model="filters.type">
            </md-input-container>
            
            <md-input-container>
                <label for="input_description">Descrição</label>
                <input type="text" id="input_description" ng-model="filters.description">
            </md-input-container>
        
            <md-button class="md-raised md-primary" ng-click="filterData()">Filtrar</md-button>
        </md-content>
    </md-sidenav>
    
</section>

<div flex-xs="" flex-gt-xs="" layout="column">
    <media-card ng-repeat="media in timelineDataToShowOnPage" media-object="media">
    </media-card>
</div>
